.button-sign-in {
    -fx-background-color: #E45652;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 15;
    -fx-text-fill: WHITE;
}

.button-sign-in:pressed {
    -fx-background-color: #27968D;
    -fx-text-fill: #634342;
}

.button-sign-in:hover {
    -fx-background-color: #E89B99;
}
