#pane {
    -fx-background-image: url("cs_logo.png");
    -fx-background-color: black;
}

.root-front-dark {
    -fx-background-color: #9C2B27;
}

.root-back-dark {
    -fx-background-color:  #20120F;
    -fx-background-image: url("cs_logo.png");
}